# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Meze-Quest.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fydoo\Desktop\Projects\Meze-Quest\.idea\.idea.Meze-Quest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
